<style media="screen">
   .original-label {
      color: blue;}
   .new-label{
      color: red;
   }
</style>

 <mdl-layout-header class="mdl-shadow--2dp my-subnav-layout" *ngIf="!alert_status">
     <mdl-layout-header-row class="my-subnav-layout-row">
         <a class="my-subnav-a" (click)="back()">
           <i class="material-icons my-subnav-i">arrow_back</i>
           <span class="my-subnav-span">Back</span>
         </a>
         <a style="display:grid; color:white; cursor:pointer; min-width:8%; margin: 0 5px;" (click)="addon()">
           <i class="material-icons" style="text-align:center;">add</i>
           <span style="text-align:center;">Add item</span>
         </a>
         <a style="display:grid; color:white; cursor:pointer; min-width:8%; margin: 0 5px;" (click)="delete()">
           <i class="material-icons" style="text-align:center;">delete</i>
           <span style="text-align:center;">delete</span>
         </a>
     </mdl-layout-header-row>
  </mdl-layout-header>

  <mdl-layout-header class="mdl-shadow--2dp" style="background-color: green" *ngIf="alert_status">
    <mdl-layout-header-row style="justify-content: center;" >
      {{alert_message}}
    </mdl-layout-header-row>
   </mdl-layout-header>


<div class="centeritems mdl-grid">
   <div class="mdl-layout-spacer"></div>
   <div class="mdl-cell mdl-cell--8-col">
     <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col my-card-title">
        <div class="mdl-card__title" (click)="toggler('title')">
           <h2 class="mdl-card__title-text my-card-title-h2" *ngIf='!toggleTitle'>
             {{note.title_value}}
           </h2>
           <input id="input1"
              class="mdl-textfield__input blinking-cursor noborder"
              type="text" [(ngModel)]="note.title_value"
              (blur)="toggler('off'); blur()"
              *ngIf='toggleTitle' focus="true">
        </div>
     </div>
     <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col my-card-property">
        <div class="mdl-card__supporting-text texting" style="width:initial" id='my-course-detail'>

          <div class="mdl-card__menu my-card-property-chip">
              <span class="my-chip" (click)="toggler('label')" *ngIf="!toggleLabelList">{{note.content_label}}</span>
              <div *ngIf="toggleLabelList" class=" my-card-property-chip-list-div">
                <ul class="my-card-property-chip-list">
                  <li *ngFor="let label of label_list">
                    <span class="my-chip list" [class.chip-selected]="label == note.content_label" (click)="changeLabel(label)">{{label}}</span>
                  </li>
                </ul>
              </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col my-card-property-text" (click)="toggler('content')">
            <p [ngClass]=note.content_label
             *ngIf="!toggleContent">{{note.content_value}}</p>
            <textarea id="textarea1" autosize focus="true"
              class="mdl-textfield__input my-textarea blinking-cursor noborder my-card-property-text-textarea"
              type="text"
              [(ngModel)]="note.content_value" name="newValue" (blur)="blur()"
              *ngIf="toggleContent"></textarea>
          </div>

        </div>

     </div>
   </div>
   <div class="mdl-layout-spacer"></div>
</div>
