<div class="centeritems mdl-grid">
   <div class="mdl-layout-spacer"></div>
   <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col">
      <div class="mdl-card__title">
         <h2 class="mdl-card__title-text">Course</h2>
      </div>
      <div class="mdl-card__menu">
         <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"
            routerLink="/course-list">
               <i class="material-icons">close</i>
         </button>
      </div>
      <form action="create()">
         <div class="mdl-card__supporting-text">
           <div class="mdl-textfield mdl-js-textfield" style="width:100%">
             <textarea class="mdl-textfield__input" type="text" rows= "1" id="sample5" [(ngModel)]="new_course.value" name="value" autofocus style="padding:2%; outline:none;"></textarea>
           </div>

        <div>
          <ul *ngFor="let model of modelList">
              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1" value="model" [class.checkboxSelected]="model.title==new_course.model_title">
                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" [checked]="model.title==new_course.model_title" (change)="modelSelection(model)">
                <span class="mdl-checkbox__label">{{model.title}} : {{model.composition}}</span>
              </label>
          </ul>
        </div>

           <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="create()">
                Save
              </a>
           </div>
        </div>
      </form>

   </div>
   <div class="mdl-layout-spacer"></div>
</div>
