<style media="screen">
  .my-head-card{
    color: #FFBF00;
    height: 150px;
    padding: 5%;
  }
</style>
<div class="centeritems mdl-grid" >
  <div class="mdl-layout-spacer"></div>
   <div class="mdl-card mdl-shadow--2dp mdl-cell--6-col">
     <div   *ngIf="!empty">

     <div class=" my-head-card">
       <h2 class="mdl-card__title-text">{{question.labels}} to {{response.labels}}</h2>
        <div class="mdl-card__supporting-text">
          {{question.properties.value}}
        </div>
      </div>
      <div class=" my-head-card" *ngIf="toggle">
        <hr>
         <div class="mdl-card__supporting-text">
           {{response.properties.value}}
         </div>
       </div>

      <div class="mdl-card__actions mdl-card--border" style="text-align:right;" *ngIf="!toggle">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="toggle=true" >
          Check
        </a>
      </div>
      <div class="mdl-card__actions mdl-card--border" style="text-align:center;" *ngIf="toggle">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="toggle=false; answering(true)" style="color:green;">
          Win
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="toggle=false; answering(false)"  style="color:red;">
          Loose
        </a>
      </div>
    </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
<!-- <main class="mdl-layout__content">
<div class="mdl-layout__tab-panel is-active">
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
<div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
<div class="mdl-card__supporting-text">
<h4>{{question.label}}</h4>
{{question.value}}
</div>
<div class="mdl-card__actions">
</div>
</div>
</section>
</div>
</main> -->
