<mdl-layout-header class="mdl-shadow--2dp my-subnav-layout" *ngIf="!alert_status">
    <mdl-layout-header-row class="my-subnav-layout-row">
        <a style="display:grid; color:white; cursor:pointer; min-width:8%; margin: 0 5px;" (click)="add()">
          <i class="material-icons" style="text-align:center;">note_add</i>
          <span style="text-align:center;">New note</span>
        </a>
    </mdl-layout-header-row>
 </mdl-layout-header>

 <mdl-layout-header class="mdl-shadow--2dp" style="background-color: green" *ngIf="alert_status">
   <mdl-layout-header-row style="justify-content: center;" >
     {{alert_message}}
   </mdl-layout-header-row>
  </mdl-layout-header>

  <!-- <div class="centeritems mdl-grid my-layout-sider" style="height:600px">
    <div class="mdl-cell mdl-cell--12-col" (click)="get_containers('forward')" style="cursor: pointer;">
      <i class="material-icons" *ngIf="!perso_account" style="font-size:14px;color:grey; vertical-align: middle;">play_arrow</i>
      <span>My account</span>
      <i class="material-icons" *ngIf="perso_account" style="color:grey; vertical-align: middle;">arrow_drop_down</i>
      <div class="my-layout-sider-list">
        <tbody>
          <tr *ngFor="let item of list">
            <td class="mdl-data-table__cell--non-numeric" (click)="detail(item)">{{item.title}}</td>
          </tr>
        </tbody>

      </div>
    </div>
  </div> -->

<div class="centeritems mdl-grid">
   <div class="mdl-layout-spacer"></div>
       <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell--8-col">
       <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width:100%">
         <tbody>
           <tr *ngFor="let item of list">
             <td class="mdl-data-table__cell--non-numeric" (click)="detail(item)">{{item.title}}</td>
           </tr>
         </tbody>
       </table>

       <!-- <div class="mdl-card__actions" style="text-align:right;">

          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="add()">
            <i class="material-icons">add</i>
          </button>
       </div> -->
     </div>
   <div class="mdl-layout-spacer"></div>
</div>
