/*                       GENERAL                         */
/*                       SUB NAV COMMAND                            */
.my-subnav-layout{
  background-color: #00BFFF;
}
.my-subnav-layout-row{
  justify-content: center;
}
.my-subnav-a{
  display:grid;
  color:white;
  cursor:pointer;
  min-width:8%;
  margin: 0 5px;
}
.my-subnav-i{
  text-align:center;
}
.my-subnav-span{
  text-align:center;
}

/*                       MAIN                            */
.my-card-title{
  min-height: 50px;
}
.my-card-title-h2{
  margin-left:15px;
}
.my-card-property{
  min-height: 100px;
}
.my-card-property-chip{
  margin-top: -10px;
}
.my-card-property-chip-list-div{
  display: table-caption;
  background-color: white;
  /*background-color:grey;
  opacity: 0.5;*/
}
.my-card-property-chip-list{
  list-style-type:none;
  text-align:left;
  padding:0 12px;
  margin: 0;
}
.my-card-property-text{
  margin-top: 15px;
  min-height: 40px;
}
.my-card-property-text-p{
  min-height: 40px;
  margin: 0;
}
.my-card-property-text-textarea{
  padding:2%;
  outline:none;
  width: stretch;
}
