.my-main{
  background-color: #E8E8E8;
}
.my-layout-header:{
  background-color: white !important;
}
.my-footer{
  position: initial;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #585858;
}
.mdl-layout__header--waterfall{
    overflow: visible;
}
.blinking-cursor{
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes "blink" {
  from, to { color: transparent;  }
  50% { color: black;  }
}
@-moz-keyframes blink {
  from, to { color: transparent;  }
  50% { color: black;  }
}
@-webkit-keyframes "blink" {
  from, to { color: transparent;  }
  50% { color: black;  }
}
@-ms-keyframes "blink" {
  from, to { color: transparent;  }
  50% { color: black;  }
}
@-o-keyframes "blink" {
  from, to { color: transparent;  }
  50% { color: black;  }
}
.noborder{
  border: none;
}

/*                       GENERAL                         */

.my-card-title{
  min-height: 50px;
}
