<!-- <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.grey-light_blue.min.css" /> -->
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-light_blue.min.css" /> -->

<div>

<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed >
   <mdl-layout-header class="mdl-shadow--3dp my-layout-header" style="background-color: white;">
         <mdl-layout-header-row>
            <mdl-layout-title>
               <a routerLink="/" routerLinkActive="active">Ublim</a>
            </mdl-layout-title>

            <mdl-layout-spacer></mdl-layout-spacer>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
              <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                <i class="material-icons">search</i>
              </label>
              <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
              </div>
            </div>
            <a class="mdl-navigation__link" routerLink="/todo" routerLinkActive="active" *ngIf="auth.isLogged()">
              <i class="material-icons">view_list</i>
            </a>
            <a class="mdl-navigation__link" routerLink="/note" routerLinkActive="active" *ngIf="auth.isLogged()">
              <i class="material-icons">note</i>
            </a>
            <a class="mdl-navigation__link" routerLink="" routerLinkActive="active" *ngIf="auth.isLogged()">
              <i class="material-icons">timeline</i>
              <!-- Project -->
            </a>
            <a class="mdl-navigation__link" routerLink="/memorize" routerLinkActive="active" *ngIf="auth.isLogged()">
                <i class="material-icons">school</i>
              <!-- Course -->
            </a>
            <a class="mdl-navigation__link  mdl-badge mdl-badge--overlap" routerLink="/" routerLinkActive="active" *ngIf="auth.isLogged()"  data-badge="1">
              <i class="material-icons">games</i>
            </a>
            <a class="mdl-navigation__link" routerLink="" routerLinkActive="active" *ngIf="auth.isLogged()">
              <i class="material-icons">apps</i>
              <!-- Apps selector -->
            </a>
            <button class="mdl-button mdl-js-button" *ngIf="!auth.isLogged()" routerLink='/authenticate'>
            <i class="material-icons" style="font-size:32px;color:grey;">account_circle</i>
            </button>

            <!-- <md-menu> -->
            <button id="my-menu-profile" class="mdl-button mdl-js-button" *ngIf="auth.isLogged()" routerLink='/profile'>
            <i class="material-icons" style="font-size:32px;color:#00BFFF;">account_circle</i>
            </button>

            <!-- Menu Items List , mdl-menu--botton-right -->
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="my-menu-rofile">
              <li class="mdl-menu__item">Facebook</li>
              <li class="mdl-menu__item">Twitter</li>
              <li disabled class="mdl-menu__item">Google Plus</li>
            </ul>


       </mdl-layout-header-row>
   </mdl-layout-header>

   <mdl-layout-drawer>
      <mdl-layout-title>Side bar</mdl-layout-title>
      <nav class="mdl-navigation">
         <a class="mdl-navigation__link" routerLink="/course" routerLinkActive="active" *ngIf="auth.isLogged()" (click)="logout()">Logout</a>
      </nav>
   </mdl-layout-drawer>

   <mdl-layout-content class="my-main">

            <div class="main-content">
               <div class="router-outlet">
                 <router-outlet></router-outlet>
               </div>
            </div>

            <footer class="mdl-mega-footer" style="position: absolute; right:0; left:0; bottom:0;" (click)="big_footer ? big_footer = false: big_footer = true">
              <div class="mdl-mega-footer__middle-section" *ngIf="big_footer">

                <div class="mdl-mega-footer__drop-down-section">
                  <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                  <h1 class="mdl-mega-footer__heading">Features</h1>
                  <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Updates</a></li>
                  </ul>
                </div>

                <div class="mdl-mega-footer__drop-down-section">
                  <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                  <h1 class="mdl-mega-footer__heading">Details</h1>
                  <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">Specs</a></li>
                    <li><a href="#">Tools</a></li>
                    <li><a href="#">Resources</a></li>
                  </ul>
                </div>

                <div class="mdl-mega-footer__drop-down-section">
                  <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                  <h1 class="mdl-mega-footer__heading">Technology</h1>
                  <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">How it works</a></li>
                    <li><a href="#">Patterns</a></li>
                    <li><a href="#">Usage</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contracts</a></li>
                  </ul>
                </div>

                <div class="mdl-mega-footer__drop-down-section">
                  <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                  <h1 class="mdl-mega-footer__heading">FAQ</h1>
                  <ul class="mdl-mega-footer__link-list">
                    <li><a href="#">Questions</a></li>
                    <li><a href="#">Answers</a></li>
                    <li><a href="#">Contact us</a></li>
                  </ul>
                </div>

              </div>

              <div class="mdl-mega-footer__bottom-section">
                <div class="mdl-logo">Title</div>
                <ul class="mdl-mega-footer__link-list">
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Privacy & Terms</a></li>
                </ul>
              </div>

            </footer>
   </mdl-layout-content>

</mdl-layout>
</div>
