<!-- NAVBAR -->
<mdl-layout-header class="mdl-shadow--2dp my-subnav-layout" *ngIf="!alert_message">
    <mdl-layout-header-row>
      <div class="my-subnav-layout-row-left">
        <a  class="my-subnav-a">
          <i class="material-icons" style="text-align:center;">delete</i>
        </a>

        <a class="my-subnav-a">  <!-- changing path -->
          <i class="material-icons" style="text-align:center;">linear_scale</i>
        </a>
      </div>
    </mdl-layout-header-row>
 </mdl-layout-header>

 <mdl-layout-header class="mdl-shadow--2dp" style="background-color: green" *ngIf="alert_message">
   <mdl-layout-header-row style="justify-content: center;" >
       <ngb-alert [dismissible]="false">
       <strong>Warning!</strong> {{alert_message}}
     </ngb-alert>
   </mdl-layout-header-row>
  </mdl-layout-header>


  <!-- MAIN -->
  <div class="centeritems mdl-grid">
    <div class="mdl-layout-spacer"></div>
       <div class="mdl-cell mdl-cell--12-col">

         <!-- SUBSCRIBTION -->
         <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col" style="float:left;">
           <div class="mdl-card__title">
             <h2 class="mdl-card__title-text">Subscribtion</h2>
           </div>
           <div class="mdl-card__supporting-text">
             <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
              <tbody>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">Commit length</td>
                  <div class="mdl-textfield mdl-js-textfield my-table-texfield" (clickOutside)="updateProp($event, 'subscription_commit_length')" *ngIf="propCopy?.subscription_commit_length">
                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2"  [(ngModel)]="propCopy.subscription_commit_length">
                    <label class="mdl-textfield__label" for="sample2">{{propCopy.subscription_commit_length}}</label>
                    <span class="mdl-textfield__error">Input is not a number!</span>
                  </div>
                </tr>
              </tbody>
            </table>
           </div>
         </div>
         <!-- END SUBSCRIBTION -->
         <!-- BACKUP -->
         <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col" style="float:left;">
           <div class="mdl-card__title">
             <h2 class="mdl-card__title-text">Back up</h2>
           </div>
           <div class="mdl-card__supporting-text">
             <table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--12-col">
              <tbody>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">All data</td>
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="float:right; margin:2%;" (click)="download('all')">Download</button>
                </tr>
                <tr>
                  <td class="mdl-data-table__cell--non-numeric">All data</td>
                  <!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="float:right; margin:2%;" (click)="download('all')">Download</button> -->
                  <!-- <input type="file" (change)="upload($event)"> -->
                  <!-- <file-upload #fu (change)="fu.upload()" [multiple]="true"></file-upload> -->
                  <file-upload (resp)="upload($event)" [multiple]='true'></file-upload>
                </tr>
              </tbody>
            </table>
           </div>
         </div>
         <!-- END BACKUP -->

       </div>
    <div class="mdl-layout-spacer"></div>
    </div>
  <!-- END MAIN -->

  <table>

  </table>
