<style>
  .selected{
    font-weight: bold;
  }
</style>

<!-- NAVBAR -->
<mdl-layout-header class="mdl-shadow--2dp my-subnav-layout" *ngIf="!alert_message">
    <mdl-layout-header-row>
      <div class="my-subnav-layout-row-left">
        <a  class="my-subnav-a" routerLink="/memorize-recall">
          <i class="material-icons" style="text-align:center; color:white;">videogame_asset</i>
        </a>
      </div>
    </mdl-layout-header-row>
 </mdl-layout-header>

 <mdl-layout-header class="mdl-shadow--2dp" style="background-color: green" *ngIf="alert_message">
   <mdl-layout-header-row style="justify-content: center;" >
       <ngb-alert [dismissible]="false">
       <strong>Warning!</strong> {{alert_message}}
     </ngb-alert>
   </mdl-layout-header-row>
  </mdl-layout-header>
  <!-- <mdl-alert #alert="mdlAlert"
  message="This is a <em class='mdl-color-text--primary'>simple</em> Alert"
  okText="Got it!"
  (confirmed)="alertConfirmd()"></mdl-alert> -->
<!-- END NAVBAR -->



<!-- MAIN -->
<div class="mdl-grid">
  <!-- SIDE -->
     <div class="mdl-cell mdl-cell--3-col" style="max-width:250px;min-width:250px;">
       <ul class="demo-list-item mdl-list">
         <li class="mdl-list__item">
           <span class="mdl-list__item-primary-content" [class.selected]="recallBool==true" (click)="toggleList()">
               <i class="material-icons mdl-list__item-icon">done</i>
               Course recalled
           </span>
         </li>
         <li class="mdl-list__item">
           <span class="mdl-list__item-primary-content" [class.selected]="recallBool!=true"  (click)="toggleList()">
             <i class="material-icons mdl-list__item-icon">clear</i>
              Course not recalled
           </span>
         </li>
       </ul>
    </div>
    <!-- END SIDE -->
    <!-- TABLE -->
    <div class="mdl-cell mdl-cell--9-col">
       <table class="mdl-data-table mdl-js-data-table mdl-shadow--0dp" style="width:100%; border:none;">
        <thead style="background-color:#F0F0F0;border:none;">
          <tr>
            <th class="mdl-data-table__cell--non-numeric mdl-data-table__header--sorted-ascending">Title</th>
          </tr>
        </thead>
        <tbody *ngIf="recallBool">
          <tr *ngFor="let item of mainList.recallable">
            <td class="mdl-data-table__cell--non-numeric">
              {{item.val}}
              <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon" style="float:right; margin-left:20px;">
              <i class="material-icons"style="color:grey;">check_box</i>
            </button>
            <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon" style="float:right;">
              <i class="material-icons"style="color:grey;">directions_run</i>
            </button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!recallBool">
          <tr *ngFor="let item of mainList.unrecallable">
            <td class="mdl-data-table__cell--non-numeric">{{item.val}}</td>
          </tr>
        </tbody>

      </table>

     </div>

     <!-- END TABLE -->
  <!-- <div class="mdl-layout-spacer"></div> -->
  </div>
<!-- END MAIN -->


<!-- LABEL LIST -->
<!-- <div *ngIf="lablist">
<ul style="border-top:1px solid rgba(0,0,0,.1);">
<li *ngFor="let val of labelsData?.list"(click)="tryingLabel(val)">
<span [ngStyle]="selProp?.label == val ? {'color':'green'} : labelsData.tryLabel == val ? {'color':'red'} : {'color':'grey'}">{{val}}</span>
</li>
</ul>
<div class="mdl-card__actions mdl-card--border" style="height:40px">
<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
style="position:absolute; display: inline-flex; left: 0; margin-left: 10%"
(click)="unSelectingLabel(); lablist=false">Back</button>
<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
style="position:absolute; display: inline-flex; right: 0; margin-right: 10%"
(click)="updateLabel()"
[ngClass]="{'mdl-button--disabled' : !labelsData.tryLabel ||  selProp.label == labelsData.tryLabel }"
>Saving</button>
</div>
</div> -->
<!-- END LABEL LIST -->


<!-- <button type="button" name="button" class="mdl-button mdl-button--raised"
    (mousedown)="deleteProperty()"
     style="display:inline-grid; background-color:#E8E8E8:">{{item.label}}</button> -->
     <!-- <div class="row">
         <div class="col">
     <div ngbDropdown class="d-inline-block">
       <a  type="button" class="" style="cursor:pointer; display:inline-flex; margin:10px;"  id="dropdownBasic1" ngbDropdownToggle>
         <span class="" (click)="selecting(item)" *ngIf="!toggleLabelList">{{item.label}}</span>
         <i class="material-icons" style="">keyboard_arrow_down</i>
       </a>
       <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
  </div>
</div> -->
