<!-- <script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>
<link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css"> -->

<!-- NAVBAR -->
<mdl-layout-header class="mdl-shadow--2dp my-subnav-layout" *ngIf="!alert_message">
    <mdl-layout-header-row>

    </mdl-layout-header-row>
 </mdl-layout-header>

 <!-- <mdl-layout-header class="mdl-shadow--2dp" style="background-color: green" *ngIf="alert_message">
   <mdl-layout-header-row style="justify-content: center;" >
       <ngb-alert [dismissible]="false">
       <strong>Warning!</strong> {{alert_message}}
     </ngb-alert>
   </mdl-layout-header-row>
  </mdl-layout-header> -->

  <div class="centeritems mdl-grid">

  <!-- SIDE TODOS -->
        <div class=" mdl-card mdl-shadow--2dp" style="width:25%; background-color:#D3D3D3;">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Todo</h2>
          </div>
          <div style="text-align:center;">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="sample1" [(ngModel)]="new" (keyup.enter)="createTask(); new = ''">
              <label class="mdl-textfield__label" for="sample1">New...</label>
            </div>
            <!-- <div class="mdl-textfield mdl-js-textfield" *ngIf="edit_mode ? true : false">
              <input class="mdl-textfield__input" type="text" id="sample1" [(ngModel)]="task.properties.value" (keyup.enter)="editTask()">
              <label class="mdl-textfield__label" for="sample1">New...</label>
            </div> -->
          </div>
          <div class="mdl-card__supporting-text">

            <ul class="mdl-list" style=" width: 300px;">
              <li class="mdl-list__item" *ngFor="let item of todo_list">
                <span class="mdl-list__item-primary-content" (click)="toggle(item)" *ngIf="task?.identity == item.identity ? false :true">{{item.identity}} - {{item.properties.value}}</span>
                <!-- <input class="mdl-textfield__input" type="text" id="sample1" [(ngModel)]="item.properties.value" (keyup.enter)="modify()" *ngIf="task?.identity == item.identity"> -->
                <input class="mdl-textfield__input" type="text" id="sample1" #update [ngModel]="item.properties.value" (keyup.enter)="modify(update.value)" *ngIf="task?.identity == item.identity">
                <a class="mdl-list__item-secondary-action " >
                  <i class="material-icons" style="color:grey;" *ngIf="selected == item" (click)="delete(item)">delete</i>
                </a>
                <a class="mdl-list__item-secondary-action " >
                  <i class="material-icons" style="color:grey;" *ngIf="selected == item" (click)="editMode(item)">edit_mode</i>
                </a>
                <a class="mdl-list__item-secondary-action " >
                  <i class="material-icons" style="color:grey;" *ngIf="selected == item" (click)="addForToday(item)">star</i>
                </a>
                <!-- <a class="mdl-list__item-secondary-action"></a>
                <a class="mdl-list__item-secondary-action"></a> -->
              </li>
            </ul>
          </div>

        </div>
  <!-- END SIDE TODOS -->


  <!-- MAIN TODAY-->
    <div class="mdl-layout-spacer"></div>
       <!-- <div class="mdl-cell mdl-cell--6-col"> -->

        <div class=" mdl-card mdl-shadow--2dp" style="width:40%">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Today</h2>
          </div>
          <div class="mdl-card__supporting-text">

            <ul class="mdl-list" style=" width: 300px;">

              <li class="mdl-list__item" *ngFor="let item of today_list">
              <!-- <li class="mdl-list__item"> -->
                <span class="mdl-list__item-secondary-action">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1">
                    <input type="checkbox" class="mdl-checkbox__input" (click)="close(item)"/>
                  </label>
                </span>
                <span class="mdl-list__item-primary-content">
                  {{item.properties.value}}
                </span>
                <a class="mdl-list__item-secondary-action " >
                  <i class="material-icons" style="color:grey;" (click)="addForLater(item)">star</i>
                </a>
              </li>

            </ul>
          </div>

        </div>

       <!-- </div> -->
    <div class="mdl-layout-spacer"></div>
    </div>
  <!-- END MAIN TODAY -->

  <!-- MAIN VALID-->
  <div class="centeritems mdl-grid">
        <div class=" mdl-card mdl-shadow--2dp" style="width:25%; background-color:#D3D3D3;">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Valid</h2>
          </div>
          <div class="mdl-card__supporting-text">

            <ul class="mdl-list" style=" width: 300px;">

              <li class="mdl-list__item" *ngFor="let item of valid_list">
                <span class="mdl-list__item-secondary-action">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="list-checkbox-1" checked>
                    <input type="checkbox" class="mdl-checkbox__input" (click)="reopen(item)"/>
                  </label>
                </span>
                <span class="mdl-list__item-primary-content">
                  {{item.properties.value}}
                </span>
                <a class="mdl-list__item-secondary-action " >
                  <i class="material-icons" style="color:grey;" (click)="delete(item)">delete</i>
                </a>
              </li>

            </ul>
          </div>

        </div>
    <div class="mdl-layout-spacer"></div>
    </div>
    <!-- END MAIN VALID -->
