<style media="screen">
  .background-pix{
    color: #FFBF00;
    height: 176px;
  }
</style>
<mdl-layout-header class="mdl-shadow--2dp" style="background-color: #989898">
      <mdl-layout-header-row style="justify-content: center;">

         <!-- <mdl-layout-spacer></mdl-layout-spacer> -->

         <a class="mdl-navigation__link" routerLink="" routerLinkActive="active" (click)="update()">Update Course</a>
         <a class="mdl-navigation__link" routerLink="" routerLinkActive="active" >Stats</a>


      </mdl-layout-header-row>
   </mdl-layout-header>

<div class="centeritems mdl-grid">
   <div class="mdl-layout-spacer"></div>
         <div class="mdl-card mdl-shadow--2dp mdl-cell--3-col" >
            <div class="mdl-card__title background-pix" style="background: url('/assets/images/timer.jpg') center/cover;">
              <h2 class="mdl-card__title-text">New Game</h2>
            </div>
            <div class="mdl-card__supporting-text">
              You must answer the question before the end of the timer !
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="start('timer')">
                Get Started
              </a>
            </div>
            <div class="mdl-card__menu">
              <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
              </button>
            </div>
      </div>
  <div class="mdl-layout-spacer"></div>
      <div class="mdl-card mdl-shadow--2dp mdl-cell--3-col" >
         <div class="mdl-card__title background-pix" style="background: url('/assets/images/ai.jpg') center/cover;">
           <h2 class="mdl-card__title-text">Coming soon</h2>
         </div>
         <div class="mdl-card__supporting-text">
           Battle vs AI
         </div>
         <div class="mdl-card__actions mdl-card--border">
           <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="start('ai')">
             Get Started
           </a>
         </div>
         <div class="mdl-card__menu">
           <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
             <i class="material-icons">share</i>
           </button>
         </div>
     </div>
 <div class="mdl-layout-spacer"></div>
         <div class="mdl-card mdl-shadow--2dp mdl-cell--3-col" >
            <div class="mdl-card__title background-pix" style="background: url('/assets/images/genius.jpg') center/cover;">
              <h2 class="mdl-card__title-text">Coming soon</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Recall only the more difficult course
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="start('genius')">
                Get Started
              </a>
            </div>
            <div class="mdl-card__menu">
              <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
              </button>
            </div>
        </div>

   <div class="mdl-layout-spacer"></div>
</div>
