
<style media="screen">
.background-pix{
  color: #FFBF00;
  height: 100%;
}
</style>
<!-- <div class="container-fluid" style="background-color: green;">
  ...
</div>
<div class="container" style="background-color: yellow;">
  ...
</div> -->
<div class="centeritems mdl-grid">
  <div class="mdl-layout-spacer"></div>

  <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col" >
    <div class="mdl-card__title background-pix" style="background: url('/assets/images/timer.jpg') center/cover;">
      <h2 class="mdl-card__title-text">New Game</h2>
    </div>
  </div>

  <div class="mdl-layout-spacer"></div>

  <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col" >
    <div class="mdl-card__title background-pix" style="background: url('/assets/images/ai.jpg') center/cover;">
      <h2 class="mdl-card__title-text">Coming soon</h2>
    </div>
  </div>

  <div class="mdl-layout-spacer"></div>

  <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col" >
    <div class="mdl-card__title background-pix" style="background: url('/assets/images/genius.jpg') center/cover;">
      <h2 class="mdl-card__title-text">Coming soon</h2>
    </div>
  </div>

  <div class="mdl-layout-spacer"></div>
</div>

<div class="centeritems mdl-grid">
  <div class="mdl-layout-spacer"></div>

  <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col" >
    <div class="mdl-card__title background-pix" style="background: url('/assets/images/math.jpg') center/cover;">
      <h2 class="mdl-card__title-text">Coming soon</h2>
    </div>
  </div>

  <div class="mdl-layout-spacer"></div>

  <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col" >
    <div class="mdl-card__title background-pix" style="background: url('/assets/images/english.jpg') center/cover;">
      <h2 class="mdl-card__title-text">Coming soon</h2>
    </div>
  </div>

  <div class="mdl-layout-spacer"></div>

  <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col" >
    <div class="mdl-card__title background-pix" style="background: url('/assets/images/project.jpg') center/cover;">
      <h2 class="mdl-card__title-text">Coming soon</h2>
    </div>
  </div>

  <div class="mdl-layout-spacer"></div>
</div>

<div class="centeritems mdl-grid">
  <div class="mdl-layout-spacer"></div>

  <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col" >
    <div class="mdl-card__title background-pix" style="background: url('/assets/images/graph.jpg') center/cover;">
      <h2 class="mdl-card__title-text">Coming soon</h2>
    </div>
  </div>

  <div class="mdl-layout-spacer"></div>

  <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col" >
    <div class="mdl-card__title background-pix" style="background: url('/assets/images/programming.jpg') center/cover;">
      <h2 class="mdl-card__title-text">Coming soon</h2>
    </div>
  </div>

  <div class="mdl-layout-spacer"></div>

  <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col" >
    <div class="mdl-card__title background-pix" style="background: url('/assets/images/neural.jpg') center/cover;">
      <h2 class="mdl-card__title-text">Coming soon</h2>
    </div>
  </div>

  <div class="mdl-layout-spacer"></div>
</div>
