<!-- MODAL -->
<!-- <ng-template #labelslist let-c="close" let-d="dismiss" >
  <labels-list [labelsData]=labelsData (notiSelect)="onNotiSelect($event)" (newLabel)="tryLab($event)"></labels-list>
</ng-template> -->
<!-- END MODAL -->


<!-- NAVBAR -->
<mdl-layout-header class="mdl-shadow--2dp my-subnav-layout" *ngIf="!alert_message">
    <mdl-layout-header-row>
      <div class="my-subnav-layout-row-left"  *ngIf="container.container_id">
        <a (click)="addProperty()"  class="my-subnav-a">
          <i class="material-icons" style="text-align:center;">add</i>
        </a>

        <a (click)="deleteContainer()"  class="my-subnav-a">
          <i class="material-icons" style="text-align:center;">delete</i>
        </a>

        <a  (click)="get_containers(content, 'forward')"  class="my-subnav-a">  <!-- changing path -->
          <i class="material-icons" style="text-align:center;">linear_scale</i>
        </a>
      </div>
    </mdl-layout-header-row>
 </mdl-layout-header>

 <mdl-layout-header class="mdl-shadow--2dp" style="background-color: green" *ngIf="alert_message">
   <mdl-layout-header-row style="justify-content: center;" >
       <ngb-alert [dismissible]="false">
       <strong>Warning!</strong> {{alert_message}}
     </ngb-alert>
   </mdl-layout-header-row>
  </mdl-layout-header>
  <!-- <mdl-alert #alert="mdlAlert"
  message="This is a <em class='mdl-color-text--primary'>simple</em> Alert"
  okText="Got it!"
  (confirmed)="alertConfirmd()"></mdl-alert> -->
<!-- END NAVBAR -->


<!-- SIDE -->
  <div class="centeritems mdl-grid my-layout-sider" style="height:600px">
    <div class="mdl-cell mdl-cell--12-col" style="cursor: pointer;">
    
      <div class="my-solid-breakline"></div>
      <div class="my-layout-sider-list">
        <tree-view [treeData]=mainList (notify)="onNotify($event)"></tree-view>
      </div>
    </div>
  </div>
<!-- END SIDE -->


<!-- MAIN -->
<div class="centeritems mdl-grid">
  <div class="mdl-layout-spacer"></div>
     <div class="mdl-cell mdl-cell--10-col">
      <!-- TITLE -->
       <div id="card_{{container.title?.id}}"
            class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col my-card-title"
            *ngIf="container.title">
          <div class="mdl-card__title" (click)="selecting(container.title)">
             <h2 class="mdl-card__title-text my-card-title-h2" *ngIf=" propSelected?.id != container?.title?.id">
               {{container.title.value}}
             </h2>
             <!-- <input id="input1"
                class="mdl-textfield__input blinking-cursor noborder"
                type="text" [(ngModel)]="propSelected.value"
                (blur)="updateText()"
                *ngIf="container.title && propSelected?.id == container.title.id && propSelected && propSelected.value" focus="true">
              </div> -->
              <div *ngIf="propSelected?.label == 'Title'">
                <app-note-detail [property]="propSelected" (droper)="onDrop($event)" (deleter)="onDelete()" (outsider)="onOutside($event)"></app-note-detail>
              </div>

       </div>
       </div>
       <!-- END TITLE -->

       <!-- PROPERTIES -->
       <div *ngIf="container.main" id="hello" style="">
         <div *ngFor="let item of container.main"  style="">
           <div id="card_{{item.id}}"  class="demo-card-wide mdl-card  mdl-cell mdl-cell--12-col my-card-property"
                [ngClass]="{'my-selectedProperty mdl-shadow--2dp': propSelected?.id == item?.id }"
                (click)="selecting(item)">
                <!-- [ngClass]="{'my-selectedProperty': propSelected?.id == item?.id }" -->
                <!-- [ngClass]="{'mdl-shadow--2dp': propSelected?.id == item?.id }" -->

             <!-- IS NOT SELECTED -->
             <div *ngIf="propSelected?.id != item.id">

               <div class="mdl-card__menu my-card-property-chip">
                 <span class="my-chip" *ngIf="!toggleLabelList">{{item.label}}-{{item.id}}</span>
               </div>

               <div class="mdl-cell mdl-cell--12-col" >
                 <div [ngClass]="'label-'+ item.label" id="p_{{item.id}}" class="my-card-property-text" autosize [ngStyle]="!item.value.length && {'white-space':'pre'}"
                      *ngIf="propSelected?.id != item.id">{{item.value}}</div>
               </div>
             </div>

             <!-- IS SELECTED -->
             <div *ngIf="propSelected?.id == item.id">
               <app-note-detail [property]="propSelected" (droper)="onDrop($event)" (deleter)="onDelete()" (outsider)="onOutside($event)"></app-note-detail>
             </div>
           <!-- END IS SELECTED -->
         </div>
       </div>
      </div>
       <!-- END PROPERTIES -->


     </div>
  <div class="mdl-layout-spacer"></div>
  </div>
<!-- END MAIN -->


<!-- LABEL LIST -->
<!-- <div *ngIf="lablist">
<ul style="border-top:1px solid rgba(0,0,0,.1);">
<li *ngFor="let val of labelsData?.list"(click)="tryingLabel(val)">
<span [ngStyle]="selProp?.label == val ? {'color':'green'} : labelsData.tryLabel == val ? {'color':'red'} : {'color':'grey'}">{{val}}</span>
</li>
</ul>
<div class="mdl-card__actions mdl-card--border" style="height:40px">
<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
style="position:absolute; display: inline-flex; left: 0; margin-left: 10%"
(click)="unSelectingLabel(); lablist=false">Back</button>
<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
style="position:absolute; display: inline-flex; right: 0; margin-right: 10%"
(click)="updateLabel()"
[ngClass]="{'mdl-button--disabled' : !labelsData.tryLabel ||  selProp.label == labelsData.tryLabel }"
>Saving</button>
</div>
</div> -->
<!-- END LABEL LIST -->


<!-- <button type="button" name="button" class="mdl-button mdl-button--raised"
    (mousedown)="deleteProperty()"
     style="display:inline-grid; background-color:#E8E8E8:">{{item.label}}</button> -->
     <!-- <div class="row">
         <div class="col">
     <div ngbDropdown class="d-inline-block">
       <a  type="button" class="" style="cursor:pointer; display:inline-flex; margin:10px;"  id="dropdownBasic1" ngbDropdownToggle>
         <span class="" (click)="selecting(item)" *ngIf="!toggleLabelList">{{item.label}}</span>
         <i class="material-icons" style="">keyboard_arrow_down</i>
       </a>
       <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
  </div>
</div> -->
