<!-- MODAL -->
<!-- <ng-template #labelslist let-c="close" let-d="dismiss" >
  <labels-list [labelsData]=labelsData (notiSelect)="onNotiSelect($event)" (newLabel)="tryLab($event)"></labels-list>
</ng-template> -->
<!-- END MODAL -->


<!-- NAVBAR -->
<mdl-layout-header class="mdl-shadow--2dp my-subnav-layout" *ngIf="!alert_message">
    <mdl-layout-header-row>
      <div class="my-subnav-layout-row-left"  *ngIf="container.container_id">
        <a (click)="addProperty()"  class="my-subnav-a">
          <i class="material-icons" style="text-align:center;">add</i>
          <span style="text-align:center;">Add item</span>
        </a>

        <a (click)="deleteContainer()"  class="my-subnav-a">
          <i class="material-icons" style="text-align:center;">delete</i>
          <span style="text-align:center;">Delete</span>
        </a>

        <a  (click)="get_containers(content, 'forward')"  class="my-subnav-a">
          <i class="material-icons" style="text-align:center;">linear_scale</i>
          <span style="text-align:center;">Change path</span>
        </a>
      </div>
      <!-- <div class="my-subnav-layout-row-right" *ngIf="selProp?.id">
        <a (mousedown)="deleteProperty()" class="my-subnav-a">
          <i class="material-icons" style="text-align:center;">delete</i>
          <span style="text-align:center;">Delete item</span>
        </a>
        <a (mousedown)="drop('up')" class="my-subnav-a">
          <i class="material-icons" style="text-align:center;">arrow_upward</i>
          <span style="text-align:center;">Up</span>
        </a>
        <a (mousedown)="drop('down')" class="my-subnav-a">
          <i class="material-icons" style="text-align:center;">arrow_downward</i>
          <span style="text-align:center;">Down</span>
        </a>
        <a (mousedown)="lablist=true" class="my-subnav-a">
          <i class="material-icons" style="text-align:center;">label</i>
          <span style="text-align:center;">Change label</span>
        </a>
      </div> -->
    </mdl-layout-header-row>
 </mdl-layout-header>

 <mdl-layout-header class="mdl-shadow--2dp" style="background-color: green" *ngIf="alert_message">
   <mdl-layout-header-row style="justify-content: center;" >
       <ngb-alert [dismissible]="false">
       <strong>Warning!</strong> {{alert_message}}
     </ngb-alert>
   </mdl-layout-header-row>
  </mdl-layout-header>
  <!-- <mdl-alert #alert="mdlAlert"
  message="This is a <em class='mdl-color-text--primary'>simple</em> Alert"
  okText="Got it!"
  (confirmed)="alertConfirmd()"></mdl-alert> -->
<!-- END NAVBAR -->


<!-- SIDE -->
  <div class="centeritems mdl-grid my-layout-sider" style="height:600px">
    <div class="mdl-cell mdl-cell--12-col" style="cursor: pointer;">
      <!-- <i class="material-icons" *ngIf="!perso_account" style="font-size:14px;color:grey; vertical-align: middle;">play_arrow</i>
      <span>My account</span>
      <i class="material-icons" *ngIf="perso_account" style="color:grey; vertical-align: middle;">arrow_drop_down</i> -->
      <div class="" style="text-align:center;">
        <button type="button" name="button" class="mdl-button" (click)="addContainer()" style="background-color:white;">New</button>
      </div>
      <div class="my-solid-breakline"></div>
      <div class="my-layout-sider-list">
        <tree-view [treeData]=mainlist (notify)="onNotify($event)"></tree-view>
      </div>
    </div>
  </div>
<!-- END SIDE -->


<!-- MAIN -->
<div class="centeritems mdl-grid">
  <div class="mdl-layout-spacer"></div>
     <div class="mdl-cell mdl-cell--10-col">
      <!-- TITLE -->
       <div id="card_{{container.title?.id}}" class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col my-card-title" *ngIf="container.title">
          <div class="mdl-card__title" (click)="selecting(container.title)">
             <h2 class="mdl-card__title-text my-card-title-h2" *ngIf="container && container.title && selProp?.id != container.title.id">
               {{container.title.value}}
             </h2>
             <input id="input1"
                class="mdl-textfield__input blinking-cursor noborder"
                type="text" [(ngModel)]="cpSelProp.value"
                (blur)="updateText()"
                *ngIf="container.title && cpSelProp?.id == container.title.id && cpSelProp && cpSelProp.value" focus="true">
          </div>
       </div>
       <!-- END TITLE -->
       <!-- DETAIL -->
       <div *ngIf="container.main">
         <div *ngFor="let item of container.main"  style="">
           <div id="card_{{item.id}}"  class="demo-card-wide mdl-card  mdl-cell mdl-cell--12-col my-card-property ">
             <div class="mdl-card__supporting-text texting my-card-property-under" *ngIf="cpSelProp?.id != item.id">

               <!-- CHIP -->
               <div class="mdl-card__menu my-card-property-chip">
                 <span class="my-chip" (click)="selecting(item); alert.show()" *ngIf="!toggleLabelList">{{item.label}}</span>
               </div>
               <!-- END CHIP -->

               <!-- PROPERTY -->
               <div class="mdl-cell mdl-cell--12-col" (mousedown)="selecting(item)" >

                 <div [ngClass]="'label-'+ item.label" id="p_{{item.id}}" class="my-card-property-text" autosize [ngStyle]="!item.value.length && {'white-space':'pre'}"
                 *ngIf="cpSelProp?.id != item.id">{{item.value}}</div>
               </div>
               <!-- END PROPERTY -->
             </div>
             <div class="mdl-card__supporting-text texting my-card-property-under" *ngIf="cpSelProp?.id == item.id">
               <!-- PROPERTY -->
               <div class="mdl-cell mdl-cell--12-col" (mousedown)="selecting(item)" >

                 <!-- CHIP -->
                 <div class="mdl-card__menu my-card-property-chip">
                   <span class="my-chip" (click)="selecting(item); alert.show()" *ngIf="!toggleLabelList">{{item.label}}</span>
                 </div>
                 <!-- END CHIP -->
                    <div class="mdl-card__supporting-text">
                        <!-- <div *ngIf="cpSelProp?.id == item.id" style="">
                          <a (mousedown)="deleteProperty()" class="" style="display:inline-grid;">
                            <i class="material-icons" style="text-align:center;">delete</i>
                            <span style="text-align:center;">Delete item</span>
                          </a>
                          <a (mousedown)="drop('up')" class="" style="display:inline-grid;">
                            <i class="material-icons" style="text-align:center;">arrow_upward</i>
                            <span style="text-align:center;">Up</span>
                          </a>
                          <a (mousedown)="drop('down')" class="" style="display:inline-grid;">
                            <i class="material-icons" style="text-align:center;">arrow_downward</i>
                            <span style="text-align:center;">Down</span>
                          </a>
                          <a (mousedown)="selectingLabel(); lablist=true" class="" style="display:inline-grid;cursor:pointer;">
                            <i class="material-icons" style="text-align:center;">label</i>
                            <span style="text-align:center;">Change label</span>
                          </a>
                        </div> -->
                        <textarea id="textarea_{{item.id}}" autosize focus='true' type="text"
                        class="mdl-textfield__input my-textarea blinking-cursor noborder my-card-property-text-textarea"
                        [ngClass]="labelsData?.tryLabel ? 'label-' + labelsData?.tryLabel : 'label-'+ item.label"
                        style="border-top:1px solid rgba(0,0,0,.1);"
                        [(ngModel)]="cpSelProp.value" name="newValue"></textarea>
                        <!-- (blur)="updateText()" -->
                      </div>
                      <div class="mdl-card__actions" *ngIf="selProp?.id == item.id" style="text-align:right">
                        <a (mousedown)="deleteProperty()" class="" style="display:inline-grid">
                          <i class="material-icons" style="text-align:center;">delete</i>
                          <span style="text-align:center;">Delete item</span>
                        </a>


                        <!-- LABEL LIST -->
                        <!-- <div *ngIf="lablist">
                          <ul style="border-top:1px solid rgba(0,0,0,.1);">
                            <li *ngFor="let val of labelsData?.list"(click)="tryingLabel(val)">
                              <span [ngStyle]="selProp?.label == val ? {'color':'green'} : labelsData.tryLabel == val ? {'color':'red'} : {'color':'grey'}">{{val}}</span>
                            </li>
                          </ul>
                          <div class="mdl-card__actions mdl-card--border" style="height:40px">
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                            style="position:absolute; display: inline-flex; left: 0; margin-left: 10%"
                            (click)="unSelectingLabel(); lablist=false">Back</button>
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                            style="position:absolute; display: inline-flex; right: 0; margin-right: 10%"
                            (click)="updateLabel()"
                            [ngClass]="{'mdl-button--disabled' : !labelsData.tryLabel ||  selProp.label == labelsData.tryLabel }"
                            >Saving</button>
                          </div>
                        </div> -->
                        <!-- END LABEL LIST -->
                      </div>

               </div>
               <!-- END PROPERTY -->

           </div>
         </div>
       </div>
       <!-- END DETAIL -->


       </div>
     </div>
     <div class="mdl-layout-spacer"></div>
  </div>
<!-- END MAIN -->
