<!-- NAVBAR -->
<mdl-layout-header class="mdl-shadow--2dp my-subnav-layout" *ngIf="!alert_message">
    <mdl-layout-header-row class="my-subnav-layout-row">
        <a style="display:grid; color:white; cursor:pointer; min-width:8%; margin: 0 5px;" (click)="addProperty()">
          <i class="material-icons" style="text-align:center;">add</i>
          <span style="text-align:center;">Add item</span>
        </a>
        <a style="display:grid; color:white; cursor:pointer; min-width:8%; margin: 0 5px;" (click)="delete_container()">
          <i class="material-icons" style="text-align:center;">delete</i>
          <span style="text-align:center;">Delete</span>
        </a>
        <a style="display:grid; color:white; cursor:pointer; min-width:8%; margin: 0 5px;" (click)="get_containers(content, 'forward')">
          <i class="material-icons" style="text-align:center;">linear_scale</i>
          <span style="text-align:center;">Change path</span>
        </a>
    </mdl-layout-header-row>
 </mdl-layout-header>

 <mdl-layout-header class="mdl-shadow--2dp" style="background-color: green" *ngIf="alert_message">
   <mdl-layout-header-row style="justify-content: center;" >
       <ngb-alert [dismissible]="false">
       <strong>Warning!</strong> {{alert_message}}
     </ngb-alert>
   </mdl-layout-header-row>
  </mdl-layout-header>
<!-- END NAVBAR -->


<!-- SIDE -->
  <div class="centeritems mdl-grid my-layout-sider" style="height:600px">
    <div class="mdl-cell mdl-cell--12-col" style="cursor: pointer;">
      <!-- <i class="material-icons" *ngIf="!perso_account" style="font-size:14px;color:grey; vertical-align: middle;">play_arrow</i>
      <span>My account</span>
      <i class="material-icons" *ngIf="perso_account" style="color:grey; vertical-align: middle;">arrow_drop_down</i> -->
      <div class="" style="text-align:center;">
        <button type="button" name="button" class="mdl-button" (click)="addContainer()" style="background-color:white;">New</button>
      </div>
      <div class="my-solid-breakline"></div>
      <div class="my-layout-sider-list">
        <tree-view [treeData]=mainlist (notify)="onNotify($event)"></tree-view>
      </div>
    </div>
  </div>
<!-- END SIDE -->


<!-- MAIN -->
<div class="centeritems mdl-grid">
  <div class="mdl-layout-spacer"></div>
     <div class="mdl-cell mdl-cell--10-col">
      <!-- TITLE -->
       <div id="card_{{container.title?.id}}" class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col my-card-title" *ngIf="container.title">
          <div class="mdl-card__title" (click)="selecting(container.title)">
             <h2 class="mdl-card__title-text my-card-title-h2" *ngIf="container && container.title && selProp?.id != container.title.id">
               {{container.title.value}}
             </h2>
             <input id="input1"
                class="mdl-textfield__input blinking-cursor noborder"
                type="text" [(ngModel)]="cpSelProp.value"
                (blur)="updateText()"
                *ngIf="container.title && cpSelProp?.id == container.title.id && cpSelProp && cpSelProp.value" focus="true">
          </div>
       </div>
       <!-- END TITLE -->
       <!-- DETAIL -->
       <div *ngIf="container.main">
         <div *ngFor="let item of container.main"  style="">
           <div id="card_{{item.id}}"  class="demo-card-wide mdl-card  mdl-cell mdl-cell--12-col my-card-property ">
             <div class="mdl-card__supporting-text texting my-card-property-under">

               <!-- CHIP -->
               <div class="mdl-card__menu my-card-property-chip">
                 <span class="my-chip" (click)="selecting(item); alert.show()" *ngIf="!toggleLabelList">{{item.label}}</span>
                 <mdl-alert #alert="mdlAlert"
                 message="This is a <em class='mdl-color-text--primary'>simple</em> Alert"
                 okText="Got it!"
                 (confirmed)="alertConfirmd()"></mdl-alert>
               </div>
               <!-- END CHIP -->

               <!-- PROPERTY -->
               <div class="mdl-cell mdl-cell--12-col" (click)="selecting(item)" >

                 <div [ngClass]=item.label *ngIf="selProp?.id != item.id" id="p_{{item.id}}" class="my-card-property-text" autosize [ngStyle]="!item.value.length && {'white-space':'pre'}">
                   {{item.value}}
                 </div>
                 <textarea id="textarea_{{item.id}}" autosize focus='true'
                   class="mdl-textfield__input my-textarea blinking-cursor noborder my-card-property-text-textarea"
                   type="text"
                   [(ngModel)]="cpSelProp.value" name="newValue"
                   (blur)="updateText()"
                   *ngIf="cpSelProp?.id == item.id">
                 </textarea>
                 <div class="mdl-card__actions mdl-card--border" style="text-align: center; " *ngIf="selProp?.id == item.id">
                   <a style=""(mousedown)="deleteProperty(item)" class="my-card-action-a">
                     <i class="material-icons" style="text-align:center;cursor:pointer;">delete</i>
                     <span style="text-align:center;">Delete item</span>
                   </a>
                   <a style="" (mousedown)="drop('up', item)" class="my-card-action-a">
                     <i class="material-icons" style="text-align:center;cursor:pointer;">arrow_upward</i>
                     <span style="text-align:center;">Up</span>
                   </a>
                   <a style="" (mousedown)="drop('down', item)" class="my-card-action-a">
                     <i class="material-icons" style="text-align:center;cursor:pointer;">arrow_downward</i>
                     <span style="text-align:center;">Down</span>
                   </a>
                 </div>

               </div>
               <!-- END PROPERTY -->

             </div>
           </div>
         </div>
       </div>
       <!-- END DETAIL -->


     </div>
     <div class="mdl-layout-spacer"></div>
  </div>
<!-- END MAIN -->
